:root{
    --cor-primaria: #5C8374; 
    --cor-secundaria: #183D3D;
    --cor-terciaria: #93B1A6;
    --fonte-primária: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
margin: 10px 20px;
}

.titulo-pagina {
    color: var(--cor-primaria);
    
    padding: 5px;
}

p {
    font-family: var(--fonte-primária);
   
}

.controle-formulario {
   display: flex;
}

form {
    border: #000;
    border-radius: 5px solid #000;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    background-color: var(--cor-terciaria);
    border: 5px solid #000;
    
}


